*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* creazione header */

.container-top {
    height: 10vh;
    width: 100vw;
}

.background-black {
    background-color: black;
}

.row-top {
    display: flex;
    justify-content: flex-end;
}

.col-top {
    margin-top: 10px;
    margin-right: 10px;
}
.btn-top {
    color:white;
    background-color: rgb(128, 128, 128);
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
}

/* creazione corpo pagina */

.container-corpo {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-immagini {
    width: 80%;
}

.row {
    display: flex;
}

.col {
    width: calc(100%/7);
    position: relative;
}

img {
    width: 100%;
    padding: 5px;
}

.col span {
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    z-index: 1;
    bottom: 7px;
    left: 7px;
    padding: 2px;
    font-size: 12px;
}

/* creazione footer */

.row-bottom {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    background-color: rgb(61, 61, 61);
}

.col-bottom1, .col-bottom2, .col-bottom3 {
    display: flex;
    align-items: center;
}

div > .fa-solid:not(.fa-chevron-up) {
    font-size: 30px;
    padding: 10px;
}

.fa-chevron-up {
    font-size: 10px;
}

.fa-share-from-square {
    color: rgb(7, 163, 7);
}

.col-bottom3 {
    background-color: grey;
    color: red;
    padding: 10px;
}

.fa-video, .fa-user-group, .fa-share-from-square, .fa-border-all {
    margin-left: 25%;
}

div p {
    font-size:15px;
    text-align: center;
    padding: 5px;
}